#content-btn{
    -fx-background-color: #D9F5FF;
        -fx-border-width: 5px;
    -fx-border-color: #f8f8f8;
}
#background{

    -fx-background-color: transparent;

}

#content-lab{
    -fx-background-color: black;
    -fx-opacity: 0.18;
    -fx-font-weight: bold;
    -fx-text-fill: white;

    -fx-font-size: 5;
    /*-fx-padding: 20 0 0 0;*/
    -fx-font-family: "Cambria";

}
#content-lab-bottom {
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-opacity: 0.18;
    -fx-text-fill: white;
    -fx-font-size: 16;
    /*-fx-padding:0 0 0 20;*/
    -fx-font-family: "Cambria";

}

#text-top{
    -fx-padding: 20 20 20 20;



}

#text-bottom{
    -fx-padding: 20 0 0 0 ;

}


.back {
    /*-fx-background-image: url('../img/pay.png');*/
    -fx-background-size: 112 105;
    -fx-background-repeat:no-repeat;

}



#tabpane{
    -fx-min-width: 0.5em;
    -fx-max-width: 0.5em;
    -fx-max-height: 5em;
    -fx-min-height: 5em;

}
/*Tabni razmerlari*/
.tab .tab-label{

    -fx-background-color: transparent;
    /*-fx-text-alignment:center-left;*/
    -fx-pref-height: 100;
    -fx-pref-width: 100;

}

/*Tabni shrifti, razmeri va rangi*/
.tab {
    -fx-font-weight: bold;
    -fx-background-color: yellow;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-pref-width: 100;
    -fx-pref-height: 100;

}
.tab:selected{
    -fx-background-color: #ADFF2F;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.tab:focused{
    -fx-background-color: #ADFF2F;



}
.tab-pane *.tab-header-background{
    -fx-background-color: transparent;
}

.tab-pane:left *.tab-header-area{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.5em 0.0em 0.5em;
    -fx-font-size: 15;

}
.tab:selected .focus-indicator{
    -fx-focus-color:transparent;
    -fx-border-color: transparent;
}





.confirm{
    -fx-background-size: 74 110 ;
    -fx-background-repeat:no-repeat;
    -fx-background-position: center;
}
.parenty{
    /*-fx-background-image:url('../img/back2.png') ;*/
    -fx-background-repeat:no-repeat;
    -fx-background-size:100% 100%;

}
.background{
    -fx-background-color: transparent;

}
.table-column{
    -fx-text-fill: #652929;
    -fx-font-style: italic;
    -fx-font-weight: bold;

}
.text-tex {
    -fx-text-fill: #652929;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}
#text{

    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-fill: #ff0300;

}

#text_bottom{

    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-fill: #0854ff;

}




#table-row{
-fx-padding: 0;


}

#switchOn{
    -fx-background-color:  #0040ff;
}

#switchOff{
    -fx-background-color:red;
}

.background .column-header .label{
    -fx-text-fill: white;

}

.background .column-header{
    -fx-font-size: 14;
    -fx-background-color:  #243add;

}



.ready{


}
.in-process{


}
#acc{


}
/*#title .title .text{*/
    /*-fx-pref-height: 38px;*/
    /*-fx-padding: 5px;*/
    /*-fx-background-color:  #243add;*/
/*}*/
/*#title .text{*/
    /*-fx-text-fill: white;*/
/*}*/


.titled-pane
{
    -fx-text-fill: white;
}
.titled-pane > .title
{
    -fx-opacity: 0.7;
    -fx-pref-height: 38px;
    -fx-padding: 5px;
    -fx-background-color:  #243add;
    -fx-background-radius: 3 3 3 3;
    -fx-effect: dropshadow(gaussian,rgb(0.4, 0.5, 0.5),5.0,0.0,3.0,3.0);

    /*-fx-padding: 0.0em 0.25em 0.0em 0.0em; !* 0 3 0 0 *!*/
}
.titled-pane > .title > .arrow-button .arrow{
    -fx-background-color: white;
}


.order_element {
    /*-fx-background-color:transparent;*/
    -fx-font-weight:bold;
    -fx-font-size: 45.0;
    -fx-pref-width: 286px;
    -fx-text-fill: #fcf8f8;
    -fx-alignment: center;


}